a {
    font-weight: 700;
    font-size: 23px;
    color: black;
}


body {
    background-color: #a1c2d2ff;
    font-family: "Comic Sans MS", Helvetica, sans-serif;
}

.btn
{
    background-color: #a1c2d2ff;
}