body
{
    background-color: #a1c2d2ff;
}

button
{
    height: 150px;
}

#player1
{
    height: 100px;
}

#player2
{
    height: 100px;
}

a {
    font-weight: 700;
    font-size: 23px;
    color: black;

}
